body, html{
margin: 0px;
padding: 0px ;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
background-color:lightblue;
position: relative;
   left:150px;
   width: 1000px;
   height:1000px;
}

   

