a {
    list-style-type: none;
    margin: 0px ;
    padding: 0px ;
    overflow: hidden;
    background-color: lightblue;
}

a {
    float: left;
}

 a {
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 a:hover:not(.active) {
    background-color: gainsboro;
}

.active {
    background-color: yellow;
}


